body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  background-color: black;
  color: aliceblue;
}
.center {
  padding-left: calc(50% - 200px);
  padding-right: calc(50% - 200px);
}
.header{
  height: 240px;
}
.header-container {
  position: relative;
  display: inline-block; /* или block, в зависимости от макета */
}

.header_pict {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-text {
  display: flex;
  justify-content: center;
  text-align: center; /* выравнивание текста по центру */
}

.cont_text_one {
  font-size: 40px;
}

.cont_text_two {
  font-size: 22px;
}
.area_pict {
  padding-top: 120px;
  width: 100%;
  height: auto;
}
.area_text {
  display: flex;
  justify-content: center;
  text-align: center;
}
.dresscode_header {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.dresscode_text{
  text-align: center;
}
.form_text {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.wishForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 300px) and (max-width: 430px) {
  .center{
    padding-left: 10px;
    padding-right: 10px;
  }
  .overlay-text {
    width: 200px;
  }

  .cont_text_one {
    font-size: 24px;
  }

  .cont_text_two {
    font-size: 18px;
  }
}
